---
import ArticleCard from "./ArticleCard.astro";
import posts from '../data/posts.json'

---

<section class="favorite-post">
    <div class="container flex-col">
        <h2>Our Favorite Posts</h2>
        <div class="line-separator"></div>
        <div class="posts-wrapper flex flex-wrap">
            { posts.filter(featured => (featured.featured))
            .sort((a,b) => b.id - a.id)
            .map(post => (
                <>
                    <a href={`/${post.title.toLowerCase().trim().replace(/[^\w\s-]/g, '').replace(/[\s_-]+/g, '-').replace(/^-+|-+$/g, '')}`}>
                    <ArticleCard 
                        title={post.title} 
                        imgSrc={post.image}
                        date={post.datePosted}
                    />
                    </a>
                </>
            )).slice(0, 8)}
        </div>
    </div>
</section>

<style>
    .posts-wrapper {
        gap: 1.111rem;
    }
</style>