---
import FooterCol from "./FooterCol.astro";
import OptinForm from "./OptinForm.astro";
import SocialIcons from "./SocialIcons.astro";

---

<FooterCol heading="Newsletter">
    <p>Get every week update from cubanlink.jewelry</p>
    <OptinForm/>
    <SocialIcons/>
</FooterCol>